[galaxy]
server_list = automation_hub, release_galaxy

[galaxy_server.automation_hub]
url=https://cloud.redhat.com/api/automation-hub/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token=REPLACEME

[galaxy_server.release_galaxy]
url=https://galaxy.ansible.com/

[defaults]
roles_path: /projects/roles
COLLECTIONS_PATHS: /home/user/.ansible/collections:/usr/share/ansible/collections:/projects/collections
inventory: /projects/hosts
